@use "../../styles/partials/global" as *;
@import "../../styles/partials/mixins.scss";
@import "../../styles/partials/variables.scss";

.modal-container {
    background: #000;
}

.modal {
    display: flex;
    flex-direction: column;
    position: relative;
    border: .0625rem solid reg(204, 204, 204);
    background: rgb(255, 255, 255);    
    border-radius: 1.125rem;
    outline: none;
    height: 100vh;
    width: 100vw;
    @include tablet {
        padding: 2.5rem 2.5rem;
        margin-right: -50%;
        max-width: 37.5rem;
        margin: 35vh auto;
        height: 15.625rem;
    }
}

.content {
    @include tablet {}
    &__exit {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: .3125rem 0rem;
    }
    &__title {
        padding: 3.125rem .625rem 1.25rem .625rem;
        @include tablet {
            padding: 1.25rem 1.25rem;
        }
    }
    &__text {
        padding: 0rem .625rem .625rem .625rem;
        font-size: .9375rem;
        @include tablet {
            padding: 0rem 1.5625rem;
        }
    }
    &__buttons {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        gap: .625rem;
        padding: 16px 16px;
        width: 100%;
        @include tablet {
        justify-content: flex-end;
        }
    }
}

.btn {
    cursor: pointer;
}