@use "../../styles/partials/global" as *;
@import "../../styles/partials/mixins.scss";
@import "../../styles/partials/variables.scss";

.modal-container {
    background: #000;
}

.modal {
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid reg(204, 204, 204);
    background: rgb(255, 255, 255);    
    border-radius: 4px;
    outline: none;
    height: 100vh;
    width: 100vw;
    @include tablet {
        padding: 40px 40px;
        margin-right: -50%;
        max-width: 600px;
        margin: 35vh auto;
        height: 250px;
    }
}

.content {
    @include tablet {}
    &__exit {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 5px 0px;
    }
    &__title {
        padding: 50px 10px 20px 10px;
        @include tablet {
            padding: 20px 20px;
        }
    }
    &__text {
        padding: 0px 10px 10px 10px;
        font-size: 15px;
        @include tablet {
            padding: 0px 25px;
        }
    }
    &__buttons {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 1rem 1rem;
        width: 100%;
        @include tablet {
        justify-content: flex-end;
        }
    }
}

.btn {
    cursor: pointer;
}