@use './mixins' as *;

/* -------------------------------------------------------------------------- */
/*                                   COLORS                                   */
/* -------------------------------------------------------------------------- */

/* --------------------------------- PRIMARY -------------------------------- */

$p-dark: #192851;
$p-light: #FFF;
$p-highlight: #6935D3;
$p-highlight-opague: rgba(46, 101, 229, 0.07);

/* -------------------------------- SECONDARY ------------------------------- */

$s-dark: #5C667E;
$s-light: #BDC5D5;
$s-vlight: #f5f7fa;

/* ---------------------------- BACKGROUND COLORS --------------------------- */

$bg-dark: #232940;
$bg-light: #f6efea;
$bg-main: #fb9f60;



/* ---------------------------- SUPPORTING COLORS --------------------------- */

$spt-one: #158463;
$spt-two:#C94515;

/* -------------------------------------------------------------------------- */
/*                                   PADDING                                  */
/* -------------------------------------------------------------------------- */

/* --------------------------------- MOBILE --------------------------------- */

$m-padding: 1rem;

/* --------------------------------- DESKTOP -------------------------------- */

$d-padding: 1.5rem;

/* -------------------------------------------------------------------------- */
/*                                  ANIMATION                                 */
/* -------------------------------------------------------------------------- */

$transition: 0.2s;

/* -------------------------------------------------------------------------- */
/*                                   BUTTONS                                  */
/* -------------------------------------------------------------------------- */

body {
    background-color: $bg-light;
}

.btn {
    text-align: center;
    padding: calc($m-padding / 2) $m-padding;
    border-radius: 20px;
    width: 100%;

    @include tablet {
        width: auto;
    }

    &--primary {
        color: $p-light;
        background-color: $p-highlight;
        transition: $transition;
        border: none;

        &:hover {
            background-color: $bg-dark;
        }
    }

    &--secondary {
        color: $s-light;
        background-color: $p-light;
        border: 1px $s-light solid;
        transition: $transition;

        &:hover {
            color: $p-highlight;
            border-color: $p-highlight;
        }
    }

    &--delete {
        color: $p-light;
        background-color: $spt-two;
        transition: $transition;
        border:none;

        &:hover {
            background-color: $bg-dark;
        }
    }
}