@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.expenses-list {
  width: 90%;
  margin: 50px auto;
  max-width: 800px;
  background: #F0ECFB;
  padding: 4px 2px 0px 4px;
  border-radius: 18px;

  &__button-container {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
  }

  &__content {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: $p-dark;
  }

  &__items {
    list-style: none;
    padding: 0;
    width: 98%;
  }

  &__header {
    display: flex;
    flex-direction: column;    
    align-items: center;
    gap: 1.5rem;
    padding: 0.75rem;
    border: none;
    border-radius: 18px;
    margin-bottom: 0.5rem;
    transition: background 0.3s;
    background-color: $p-dark;
    color: $p-light;

    @include medium {
      display: flex;
      flex-direction: row;
    }

    &-title {
      font-weight: 600;
      font-size: 1.2rem;
      text-transform: capitalize;
      width: 80%;
      word-wrap: wrap;

      @include medium {
        width: 58%;
        display: flex;
        flex-direction: row;
        padding: 0;
      }
    }

    &-amount {
      font-weight: 600;
      font-size: 1rem;
      width: 25%;
    }

    &-date {
      font-weight: 600;
      font-size: 1rem;
      width: 35%;
    }
    
  }

  &__item {
    display: flex;
    flex-direction: column;    
    align-items: center;
    gap: 1.5rem;
    padding: 0.75rem;
    border: none;
    border-radius: 18px;
    margin-bottom: 0.5rem;
    background: $p-light;
    transition: background 0.3s;

    &:hover {
      background: $s-light;
    }

    @include medium {
      display: flex;
      flex-direction: row;;
    }
  }

  &__item-title {
    font-weight: 600;
    font-size: 1.2rem;
    color: $p-dark;
    text-transform: capitalize;
    width: 80%;
    word-wrap: wrap;

    @include medium {
      width: 50%;
      display: flex;
      flex-direction: row;
      padding: 0;
    }
  }

  &__item-total-amount,
  &__item-date {
    font-size: 1rem;
    color: $s-dark;
    width: 20%;
  }

  &__item-total-amount,
  &__item-your-amount {
    font-weight: 600;
    color: $s-dark;
  }

  &__icons {
    display:flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 9%;
    cursor: pointer;
  }

  &__item-your-amount {
    color: $p-dark;
  }
}
