@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.group-item {
  width: 90%;
  margin: 0 auto;
  max-width: 800px;
  background: $p-light;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  &__title {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  &__description {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  &__members,
  &__expenses {
    margin-bottom: 2rem;

    h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    ul {
      list-style: none;
      padding: 0;
    }

    li {
      font-size: 1.1rem;
      margin-bottom: 0.5rem;
    }
  }
}
