@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.main {
    &-containter {
        display: flex;
        flex-direction: row;
    }

    &__left {
        width: 30%;
        background-color: $bg-light;
    }

    &__right {
        width: 70%;
    }
}