@use "../../styles/partials/global" as *;
@import "../../styles/partials/mixins.scss";
@import "../../styles/partials/variables.scss";

.header {
    background-color: $p-dark;
    padding: 1.875rem;
    // position: fixed;
    top: 0;
    width: 100%;

    &__left {
        & img {
            width: 10%;
        }
    }
}